1.https://github.com/OlenaMrn/goit-react-hw-03-phonebook
2.https://olenamrn.github.io/goit-react-hw-03-phonebook/

3. https://github.com/OlenaMrn/goit-react-hw-03-image-finder
4. https://olenamrn.github.io/goit-react-hw-03-image-finder/






.button {
  background-color: #fff;
  border: 1px solid rgba(24, 46, 248, 0.75);
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  padding: 5px 10px;
  
}

.button:hover {
  background-color: rgba(24, 46, 248, 0.75);
  color: white;
  box-shadow: 3px 3px 3px 0px rgba(24, 46, 248, 0.5);
}

